# Copyright (c) 2024 The ZMK Contributors
  # SPDX-License-Identifier: MIT

    if SHIELD_BOARD24_2_L

    config ZMK_KEYBOARD_NAME
    	default "Board24_2"

    config ZMK_SPLIT_ROLE_CENTRAL
    	default y

    endif

    if SHIELD_BOARD24_2_L || SHIELD_BOARD24_2_R

    config ZMK_SPLIT
    	default y

    endif
    
